        <aside id="Sponsors">
          <h2>Sponsors</h2>
          <ul>
            <li class="null"><img alt="Sponsor Name" height="64" src="{{ site.assets_url }}img/tmp-sponsor-s.png" width="152"></li>
            <li><img alt="Sponsor Name" height="64" src="{{ site.assets_url }}img/tmp-sponsor-s.png" width="152"></li>
            <li><img alt="Sponsor Name" height="64" src="{{ site.assets_url }}img/tmp-sponsor-s.png" width="152"></li>
            <li><img alt="Sponsor Name" height="64" src="{{ site.assets_url }}img/tmp-sponsor-s.png" width="152"></li>
            <li><img alt="Sponsor Name" height="64" src="{{ site.assets_url }}img/tmp-sponsor-s.png" width="152"></li>
          </ul>
        </aside>